<div class="encumbrance {{#if encumbered}}encumbered{{/if}}" title="Movement: {{#if @root.system.movement.base}}{{@root.system.movement.base}}' ({{@root.system.movement.encounter}}'){{else}}Unknown{{/if}}{{#unless (eq untilNextBreakpoint null)}} ({{untilNextBreakpoint}} left){{/unless}}">
  <span class="encumbrance-bar {{#if atThirdBreakpoint}}tier-4{{else if atSecondBreakpoint}}tier-3{{else if atFirstBreakpoint}}tier-2{{else}}tier-1{{/if}}" style="width:{{pct}}%"></span>
  {{#each steps as |s|}}
  <i class="encumbrance-breakpoint arrow-up" style="left:{{s}}%"></i>
  <i class="encumbrance-breakpoint arrow-down" style="left:{{s}}%"></i>
  {{/each}}
</div>
{{#if @root.config.encumbranceStrengthMod}}
<span class="encumbrance-label">{{value}} / {{#if usingEquippedEncumbrance}}{{max}}{{else}}{{add max @root.system.scores.str.mod}}{{/if}}</span>
{{else}}
<span class="encumbrance-label">{{value}} / {{max}}</span>
{{/if}}