<section class="inventory effects">
  {{#each effects as |category|}}
  <div class="item-category-title flexrow">
    <div class="category-name">{{localize category.label}}</div>
    {{#if @root.owner}}
    {{#unless category.readonly}}
    <div class="item-controls">
      <a
        class="item-control effect-control item-create"
        data-action="create"
        data-effect-type="{{category.type}}"
        title="{{localize 'OSE.Add'}}"
        ><i class="fa fa-plus"></i
      ></a>
    </div>
    {{/unless}}
    {{/if}}
  </div>
  <ol class="item-list">
    {{#each category.effects as |effect|}}
    {{#if category.readonly}}
    <li class="item-entry item" data-item-id="{{effect.parent.id}}">
      <div class="item-header flexrow">
        <div
          class="item-image"
          style="background-image: url({{effect.img}})"
        ></div>
        <h4 class="item-name" title="{{effect.name}}">{{effect.name}}</h4>
        <div class="effect-source" title="{{effect.parent.name}}">
          {{effect.parent.name}}
        </div>
        {{#if @root.owner}}
        <div class="item-controls">
          <a
            class="item-control effect-source-link"
            title="{{localize 'OSE.effect.source'}}"
            ><i class="fas fa-up-right-from-square"></i
          ></a>
        </div>
        {{/if}}
      </div>
    </li>
    {{else}}
    <li
      class="item-entry item"
      data-effect-id="{{effect.id}}"
      data-effect-type="{{category.type}}"
    >
      <div class="item-header flexrow">
        <div
          class="item-image"
          style="background-image: url({{effect.img}})"
        ></div>
        <h4 class="item-name" title="{{effect.name}}">{{effect.name}}</h4>
        {{#if @root.owner}}
        <div class="item-controls">
          <a
            class="item-control effect-control"
            data-action="toggle"
            title="{{localize 'OSE.effect.toggle'}}"
            ><i
              class="fas {{#if effect.disabled}}fa-toggle-off{{else}}fa-toggle-on{{/if}}"
            ></i
          ></a>
          <a
            class="item-control effect-control"
            data-action="edit"
            title="{{localize 'OSE.Edit'}}"
            ><i class="fas fa-edit"></i
          ></a>
          <a
            class="item-control effect-control"
            data-action="delete"
            title="{{localize 'OSE.Delete'}}"
            ><i class="fas fa-trash"></i
          ></a>
        </div>
        {{/if}}
      </div>
    </li>
    {{/if}}
    {{/each}}
  </ol>
  {{/each}}
</section>
