@use "variables";

.ose .window-content {
  overflow: hidden;

  // Utils
  .collapsed {
    display: none;
  }
  .margin {
    margin: 5px;
  }
  // Inputs
  input {
    text-align: center;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  input:not([type="checkbox"]) {
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid variables.$colorTan;
    box-shadow: none;
    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background: variables.$inputBackground;
    }
  }
  a:hover {
    text-shadow: none;
  }

  .resizable {
    overflow: auto;
  }
}

#pause {
  top: 20px !important;
  bottom: auto !important;
  position: fixed !important;
  margin-top: 0 !important;
  transform: translate(-50%, 0) scale(0.5) !important;
  transform-origin: top center !important;
  left: 50% !important;
}
